<form (ngSubmit)="onSubmit()" [formGroup]="anyForm">
    <label>Color:</label>
    <select formControlName="color">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <br><br>

    <label>Brand:</label>
    <select formControlName="brand">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <br><br>

    <label>Size:</label>
    <select formControlName="size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <br><br>

    <label>Fruit:</label>
    <select formControlName="fruit">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <br><br>
</form>